@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* body {
  font-family: var(--main-family);
  color: var(--main-color);
  background: var(--secondary-color);
} */

.navbar {
  background-color: var(--main-color);
}
