@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: var(--main-family);
  color: var(--main-color);
  background: var(--secondary-color);
}

.navbar {
  font-family: var(--main-family);
  background-color: #808080;
}
#main-image {
  width: 60px;
  height: 60px;
}

.carousel-inner {
  height: 600px;
}

.btn-man {
  background-color: var(--main-color);
  color: white;
  width: 400px;
  height: 40px;
  border-radius: 30px;
}
.btn-woman {
  background-color: var(--main-color);
  color: white;
  width: 400px;
  height: 40px;
  border-radius: 30px;
}
#btn-save-edit {
  background-color: var(--main-color);
  color: white;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
footer {
  background-color: grey;
  color: #fff;
  padding: 50px 0;
}

footer h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 70px;
}
.footer .cont {
  margin-left: 70px;
}
.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
}
footer {
  font-family: var(--main-family);
}
.about {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  text-decoration-line: none;
  color: white;
}
.sns {
  height: 25px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
.sns-cont {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

@media (max-width: 768px) {
  footer {
    padding: 30px 0;
  }

  .col-md-4 {
    text-align: center;
    margin-bottom: 30px;
  }
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
footer h3 {
  font-size: 25px;
  cursor: pointer;
}
